<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Remote File Download Test Suite" verbose="1" parallel="false">

    <parameter name="grid.url" value="http://localhost:4444/wd/hub"/>
    <parameter name="local.download.path" value="./downloads"/>
    <parameter name="download.timeout" value="60"/>

    <test name="File Download Tests">
        <classes>
            <class name="com.selenium.cucumber.TestRunner"/>
        </classes>
    </test>

</suite>
