{
"destination": "json",
"mount_path": "abc",
"batch_linked_service": "batch_linked_service",
"notebook_linked_service": "notebook_linked_service",
"notebook_path": "notebook_path",
"FilePath": "isdb/file/path",
"IDSDB": "ISDB",
"IDSOwner": "IDSOwner",
"APT_CONFIG_FILE": "APT_CONFIG_FILE",
"EDWFilePath": "EDWFilePath",
"EmailSupport": "EmailSupport",
"IDSInstance": "IDSInstance",
"IDSDSN": "IDSDSN",
"CactusServer": "CactusServer",
"CactusDB": "CactusDB"
}
